* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

header {
    background-color: #1f2235;
    padding: 28px 64px;
}

#brandimg {
    width: 100px;
}

.nav-item {
    list-style: none;
    margin-left: 20px;
}

.nav-item a:hover {
    color: #f1404a;
    transition: all;
}

.socialcont :hover {
    background-color: #f1404a;
    color: #fff;
}




.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
}

.social {
    width: 40px;
    height: 40px;
    background-color: #1f2235;
    border: 2px solid #f1404a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}



#left {
    width: 45%;
}


.socialcont {
    width: 300px;
    margin-bottom: 30px;
}





.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#description {
    color: #c1c1c1;
    font-size: 24px;
    margin-bottom: 36px;
    margin-top: 20px;
}

#home {
    background-color: #24263b;
    padding: 28px 84px;
}

.boldtitle {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.btn,
.btnMain {
    padding: 12px 24px;
    background-color: #f1404a;
    border: 2px solid #f1404a;
    border-radius: 18px;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

.btnMain {
    background-color: #1f2235;
    border: 2px solid #f1404a;
    margin-right: 26px;
}


.btnMain:hover {
    background-color: #f1404a;
    border-color: #1f2235;
    color: #fff;
}

#services-section {
    background-color: #1f2235;
    padding: 80px 84px;
    color: #fff;
}

.services-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 80%;
  margin: 0 auto;
}


.services-header {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.services-paragraph {
    color: #c1c1c1;
    font-size: 18px;
    margin-bottom: 36px;
}

.underline {
    width: 100px;
    height: 4px;
    background-color: #f1404a;
    margin: 0 auto;
    margin-bottom: 40px;
}

.card {
    background-color: #2a2f4a;
    padding: 40px 30px;
    border-radius: 20px;
    transition: 0.3s ease;
    width: 300px;
    padding: 20px;
}

.card i {
    font-size: 40px;
    color: #f1404a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #fff;
}


.card p {
    color: #cfcfcf;
    line-height: 1.6;
    font-size: 15px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fe4a57;
}


#red {
    color: #f1404a;
}


#about-section {
    background-color: #24263a;
    padding: 60px 84px;
    color: #fff;
}

#about-top {
    text-align: center;
}

#about-bold {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.about-paragraph {
    color: #c1c1c1;
    font-size: 18px;
    margin-bottom: 36px;
    text-align: center;
}

.underline {
    width: 100px;
    height: 4px;
    background-color: #f1404a;
    margin: 0 auto;
    margin-bottom: 40px;
}

.about-area {
    display: flex;
    align-items: center;
    gap: 40px;
    min-height: 100vh;
}

#about-image{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 80%;
    margin: auto;
}

.about-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.about-form strong {
    color: #ff4a56;
}

.text-part {
    max-width: 1000px;
}

.text-part h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

#Skills-Section {
    background-color: #23263a;
    padding: 80px 10%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.skills-left {
    flex: 1;
}

.skills-left span {
    color: #f1404a;
    font-weight: 500;
    letter-spacing: 2px;
}

.skills-left h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 20px 0;
    line-height: 1.1;
}

.skills-left p {
    color: #cfcfcf;
    line-height: 1.8;
    margin-bottom: 40px;
}

.skills-left button {
    padding: 15px 40px;
    border: 2px solid #ff4d5a;
    background: transparent;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.skills-left button:hover {
    background: #ff4d5a;
}

.skills-right {
    flex: 1;
}

.skill {
    margin-bottom: 40px;
}

.skill p {
    margin-bottom: 10px;
}

/* progress background line */
.progress {
    width: 100%;
    height: 6px;
    background: #2c304a;
    border-radius: 10px;
    position: relative;
}

/* red progress line */
.progress-bar {
    height: 100%;
    background: #ff4d5a;
    border-radius: 10px;
    position: relative;
}

/* percentage box */
.progress-bar span {
    position: absolute;
    right: 0;
    top: -35px;
    background: transparent;
    border: 2px solid #fff;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
}

/* small arrow under percentage */
.progress-bar span::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
}

#portfolio {
    background-color: #1f2235;
}

.portfolio-header {
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
}

#portfolio-title {
    padding-top: 60px;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}

.portfolio-links {
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.portfolio-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 30px;
}

.active {
    border: 2px solid #8f3848;
}

.portfolio-links a:hover {
    background-color: #fe4a57;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 60%;
    margin: auto;
    margin-top: 10px;

}

.show-column1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#blog {
    background-color: #24263a;
    padding: 80px 84px;
    color: #fff;
}

.blog-header {
    text-align: center;
    margin-bottom: 60px;
}

.blog-small {
  color: #ff4a57;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 72px;     /* make very large */
  font-weight: 900;
  color: #fff;
  margin-bottom: 20px;
}

.blog-desc {
  color: #c1c1c1;
  font-size: 18px;
  line-height: 1.6;
}


.blog-container {
  display: flex;
  gap: 40px;
  flex-direction: row;
  width: 85%;
  margin: 0 auto;
}

.blog-card {
  background: #2a2f4a;
  border-radius: 15px;
  overflow: hidden;
}

.blog-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-content {
  padding: 25px;
}

.meta {
  color: #c1c1c1;
  font-size: 14px;
  margin-bottom: 15px;
}

.blog-content h3 {
  color: white;
  margin-bottom: 20px;
}

.blog-content a {
  color: #ff4a57;
  text-decoration: none;
  font-weight: 600;
}

.blog-content a:hover {
    text-decoration: underline;
}

#contact {
    background-color: #1f2235;
    padding: auto;
}

.contact-top {
    text-align: center;
    padding: 80px 10%;
    color: #fff;
}

.contact-top span{
    color: #ff4d5a;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

.contact-top h2 {
    font-size: 48px;
    margin: 15px 0;
    color: #fff;
}

.contact-top p {
    color: #cfcfcf;
    max-width: 600px;
    margin: 0 auto 20px;
    line-height: 1.6;
}

.contact-info-icons {
   display: flex;
   flex-direction: row;
   gap: 25px;
   justify-content:center;
   flex-wrap: wrap;
   margin-bottom: 60px;
}


.info-box {
    background: #252b44;
    padding: 25px 30px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    color: #fff;
}


.contact-form {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    background: #252b44;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
    color: #fff;
}

.contact-form button {
    background: #ff4d5a;
    color: #fff;
    padding: 14px 35px;
    border:none;
    border-radius: 30px;
    cursor:pointer;
    font-weight: 600;
    transition: 0.3s ease;
}


.contact-form button:hover {
    background: #e63b4c;
}













